.cardy-prop{
    transition: transform 0.8s ease-in-out;
    background-color: transparent;
    text-decoration: none;
}
.cardy-prop:hover{
    transform: scale(1.1);
    text-decoration: none;
    background-color: transparent;

}
