.cardy-prop{
    transition: transform 0.8s step-end;
    background-color: transparent;
    text-decoration: none;
}
.cardy-prop:hover{
    transform: scale(1.09);
    text-decoration: none;
    background-color: transparent;

}
