.merchant-dashboard{
    background-color: rgb(255, 255, 255);
    box-shadow: 10px 10px 10px lightgray;
    /* width: 950px; */
    border-radius: 5px;
    padding: 60px 40px;
    margin: 40px 90px;
}
.merchant-dashboard h1{
    color: #48c1cf;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0;
   margin-left: 0;
    /* margin-bottom: 30px; */
}
.cardd{
    height: 230px;
    width: 250px;
    border-radius:6px;
    box-shadow: 5px 10px 5px lightgray;
}