
label, a {
    text-decoration: none;
    color: #555;
  }
  ul {
    list-style: none;
    padding: 0;
    text-decoration: none;
  }
  header {
    box-shadow: 2px 9px 49px -17px rgba(0, 0, 0, 0.3);
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 10;

  }
  .header-content-top {
    background: #54b9c4;
    height: 30px;
    width: 100%;
  }
  .header-content-top .content {
    align-items: center;
    display: flex;
    height: 30px;
    justify-content: flex-end;
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
  }
  .header-content-top .content span {
    color: #fff;
    font-size: 12px;
    margin: 0 15px;
  }
  .header-content-top .content span .fas {
    margin-right: 5px;
  }
  .container {
    align-items: center;
    display: flex;
    height: 70px;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1300px;
    padding: 0 15px;
    position: relative;
    width: 100%;
  }
  .container .logo {
    color: #54b9c4;
    font-size: 40px;
    line-height: 20px;
    padding-right: 15px;
  }
  .container .open-search {
    border-radius: 3px;
    flex: auto;
    margin: 0 15px;
    overflow: hidden;
    position: relative;
  }

  /* ===================================Navy code start here=================== */
  
  /* simple divs css  */
.category1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.category1 img{
  height: 60px;
  width: 60px;
}
/* **********main dropdown code********** */
.nav-container{
  margin-top: 12%;
  z-index: 17;
  /* background-color: #4d61fc; */
}
.featured-category{
  /* background-color: rgb(255, 119, 141); */
}
.nav-row{
  /* background-color: aqua; */
}
.all-category-list,.all-category-list-item{
  background-color: yellow;
  height: 100%;
  width: 100%;
}
.allcategory{
  color: purple;
}
.all-category-list-item,.all-category-list-link,.nav-row-list-link{
  text-decoration: none;
  color: rgb(103, 103, 103);
}
.box-inside-dropdown{
  display: flex;
}
.item-box{
  position:fixed;
    display: none;
    box-sizing: border-box;
    width: 300px;
    height: 300px;
    background-color: rgb(239, 126, 126);
    padding: 7px;
    border-radius: 3px;
    top: 50px;
    z-index: 1;
}
.inside-item-box{
  position:fixed;
    display: none;
    box-sizing: border-box;
    width: 300px;
    height: 300px;
    background-color: rgb(239, 126, 126);
    padding: 7px;
    border-radius: 3px;
    top: 50px;
    z-index: 1;
    margin-top: 10px;

}
.all-category1 img{
  height: 40px;
  width: 40px;
  margin-left: 30%;
}
.allcategory:hover+ .box-inside-dropdown{
  display: block;
  transition: 3ms;
}
.box-inside-dropdown:hover{
  display: block;
  transition: 3ms;
}
.categories{
    position:fixed;
    display: none;
    box-sizing: border-box;
    width: 800px;
    /* background-color: #48c1cf; */
    background-color: white;
    color: white;
    padding: 6px;
    border-radius: 3px;
    top: 170px;
    padding-left: 20px;
    left: 20px;
    z-index: 1;
    text-decoration: none;
}
.allcategory:hover +.categories{
  /* display: block; */
  transition: 1ms;
  text-decoration: none;
  color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.categories:hover{
  /* display: block; */
  transition: 1ms;
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
  color: black;
  justify-content: space-between;
} 
.categories .p1:hover{
  color: black;
  background-color: white;
  text-decoration: none;
  /* width: calc(50% - 20px);  */
  /* margin: auto; */
  padding:13px ;
  border-radius: 3px;
  color: white;
  background-color: #54b9c4;
}
.custom-link {
  text-decoration: none;
}

.custom-link,
.custom-link:hover,
.custom-link:visited,
.custom-link:focus {
  text-decoration: none;}

.custom-link:active {
  text-decoration: none;
  outline: none; /* Optionally remove the outline when the link is active */
}


/* .groce{
  position:fixed;
    display: none;
    box-sizing: border-box;
    width: 100px;
    background-color: white;
    padding: 6px;
    border-radius: 3px;
    top: 50px;
    z-index: 1;
}
.grocery:hover +.groce{
  display: block;
  transition: 1ms;
}
.groce:hover{
  display: block;
  transition: 1ms;
}  */











  /* responsive */
  @media (max-width: 991px) {
    .container .open-search {
      margin: 0;
      position: static;
      text-align: right;
    }
  }
  .container .open-search .fa-search {
    display: none;
  }
  @media (max-width: 991px) {
    .container .open-search .fa-search {
      display: block;
    }
  }
  .container .open-search .input-open-search {
    display: none;
  }
  .container .open-search .input-open-search:checked ~ .search {
    display: block;
  }
  @media (max-width: 991px) {
    .container .search {
      display: none;
      position: absolute;
      left: 0;
      top: 70px;
      width: 100%;
      z-index: 999;
    }
  }
  .container .search .input-search {
    border-radius: 3px;
    border: 1px solid #e1e1e1;
    height: 40px;
    padding: 0 70px 0 15px;
    width: 100%;
    background: white no-repeat;
    transition: 100ms all linear 0s;
    background-image: linear-gradient(to bottom, rgba(77, 97, 252, 0.63) 0%, #4d61fc 90%), linear-gradient(to bottom, #e1e1e1, #e1e1e1);
    background-size: 0 2px, 100% 1px;
    background-position: 50% 100%, 50% 100%;
    transition: background-size 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  }
  .container .search .input-search:focus {
    background-size: 100% 2px, 100% 1px;
    outline: none;
  }
  .container .search .button-search {
    background: #54b9c4;
    border: 0;
    color: #fff;
    cursor: pointer;
    padding: 13px 20px;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .container .search .button-search .fa-search {
    display: block;
  }
  .container .nav-content .nav-content-list {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
  }
  .container .nav-content .nav-content-list .nav-content-item {
    align-items: center;
    display: flex;
    height: 40px;
    margin: 0 5px;
    position: relative;
    transition: 100ms all linear 0s;
  }

  .categories>Link>p:hover{
    text-decoration: none;
  }

  @media (max-width: 991px) {
    .container .nav-content .nav-content-list .nav-content-item {
      padding: 0 5px;
    }
  }
  .container .nav-content .nav-content-list .nav-content-item .item-arrow {
    margin-left: 5px;
    position: relative;
    top: -3px;
  }
  @media (max-width: 768px) {
    .container .nav-content .nav-content-list .nav-content-item .item-arrow {
      display: none;
    }
  }
  .container .nav-content .nav-content-list .nav-content-item .open-menu-login-account {
    align-items: center;
    cursor: pointer;
    display: flex;
    position: relative;
  }
  .container .nav-content .nav-content-list .nav-content-item .input-menu {
    display: none;
  }
  .container .nav-content .nav-content-list .nav-content-item .input-menu:checked ~ .login-list {
    display: block;
  }
  .container .nav-content .nav-content-list .nav-content-item .login-list {
    background: #fff;
    border-bottom: 3px solid #54b9c4;
    border-radius: 3px;
    box-shadow: 2px 9px 49px -17px rgba(0, 0, 0, 0.3);
    display: none;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 28px;
    transition: 100ms all linear 0s;
    width: 200px;
    z-index: 10;
  }
  .container .nav-content .nav-content-list .nav-content-item .login-list .login-list-item {
    padding: 15px 20px;
  }
  .container .nav-content .nav-content-list .nav-content-item .login-list .login-list-item:hover {
    background: #54b9c4;
  }
  .container .nav-content .nav-content-list .nav-content-item .login-list .login-list-item:hover a {
    color: #fff;
  }
  .container .nav-content .nav-content-list .nav-content-item:nth-child(2):hover .fas {
    color: #e74c3c;
  }
  .container .nav-content .nav-content-list .nav-content-item:hover .fas {
    color: #54b9c4;
  }
  .container .nav-content .nav-content-list .account-login .login-text {
    /* align-items: end; */
    display: flex;
    flex-direction: column;
    font-size: 12px;
    margin-left: 5px;
  }
  @media (max-width: 991px) {
    .container .nav-content .nav-content-list .account-login .login-text {
      display: none;
    }
  }
  .container .nav-content .nav-content-list .account-login .login-text strong {
    display: block;
  }
  .container .nav-content .nav-content-list .nav-content-link {
    border-radius: 3px;
    font-size: 19px;
    padding: 10px 15px;
    transition: 100ms all linear 0s;
  }
  @media (max-width: 991px) {
    .container .nav-content .nav-content-list .nav-content-link {
      padding: 0;
    }
  }
  .nav-container {
    align-items: center;
    display: flex;
    margin: 0 auto;
    max-width: 1300px;
    width: 100%;
    position: relative;
    top: -25px;
  }
  .nav-container .nav-row {
    align-items: center;
    display: flex;
    height: 40px;
    justify-content: space-between;
    margin: 0;
    padding: 0;
  }
  @media (max-width: 991px) {
    .nav-container .nav-row {
      display: none;
    }
  }
  .nav-container .nav-row .nav-row-list {
    flex: auto;
    text-decoration: none;
  }
  .nav-container .nav-row .nav-row-list .nav-row-list-link {
    align-items: center;
    display: flex;
    height: 40px;
    justify-content: center;
    transition: 100ms all linear 0s;
    text-decoration: none;
  }
  .nav-container .nav-row .nav-row-list .nav-row-list-link:hover {
    /* background: #e1e1e1; */
    color: #54b9c4;
    text-decoration: none;
    width: 100%;
  }
  .nav-container .featured-category {
    flex: auto;
    margin: 0 15px 0 0;
  }
  @media (max-width: 991px) {
    .nav-container .featured-category {
      display: none;
    }
  }
  .nav-container .all-navigator {
    align-items: center;
    background: #54b9c4;
    color: #fff;
    display: flex;
    height: 40px;
    padding: 0 25px;
    width: 100%;
  }
  @media (max-width: 991px) {
    .nav-container .all-navigator {
      margin-right: 0;
    }
  }
  .nav-container .all-navigator .fa-angle-up, .nav-container .all-navigator .fa-angle-down {
    position: absolute;
    right: 25px;
  }
  .nav-container .all-navigator .fa-angle-up {
    display: none;
  }
  .nav-container .all-navigator .fas {
    font-size: 16px;
    margin-right: 0;
  }
  .nav-container .all-navigator span {
    margin-left: 15px;
  }
  .nav-container .all-category-nav {
    cursor: pointer;
    max-width: 300px;
    position: relative;
    width: 100%;
  }
  @media (max-width: 991px) {
    .nav-container .all-category-nav {
      max-width: 100%;
    }
  }
  .nav-container .all-category-nav .open-menu-all {
    align-items: center;
    cursor: pointer;
    display: flex;
    position: relative;
  }
  .nav-container .all-category-nav .input-menu-all {
    display: none;
  }
  .nav-container .all-category-nav .input-menu-all:checked ~ .all-category-list {
    display: block;
  }
  .nav-container .all-category-nav .input-menu-all:checked + .all-navigator .fa-angle-down {
    display: none;
  }
  .nav-container .all-category-nav .input-menu-all:checked + .all-navigator .fa-angle-up {
    display: block;
  }
  .nav-container .all-category-list {
    background: #fff;
    border-bottom: 3px solid #54b9c4;
    box-shadow: 2px 9px 49px -17px rgba(0, 0, 0, 0.3);
    display: none;
    height: auto;
    min-height: 300px;
    padding: 15px 0;
    position: absolute;
    top: 40px;
    width: 300px;
    z-index: 90;

  }
  @media (max-width: 991px) {
    .nav-container .all-category-list {
      min-width: 100%;
    }
  }
  .nav-container .all-category-list-item:hover {
    display: block;
    background: #54b9c4;
    text-decoration: none;
  }
  .nav-container .all-category-list-item:hover .category-second-list {
    left: 100%;
    opacity: 1;
    visibility: visible;
    
  }
  .nav-container .all-category-list-item:hover .all-category-list-link {
    color: #fff;
    text-decoration: none;
  }
  .nav-container .all-category-list-link {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    transition: 100ms all linear 0s;
  }
  .nav-container .category-second-list {
    background: #fff;
    border-bottom: 3px solid #54b9c4;
    box-shadow: inset 44px -1px 88px -59px rgba(0, 0, 0, 0.37);
    display: flex;
    height: 322px;
    left: 80%;
    min-height: 297px;
    min-width: 400px;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: 100ms all linear 0s;
    visibility: hidden;
    width: auto;
  }
  @media (max-width: 991px) {
    .nav-container .category-second-list {
      display: none;
    }
  }
  .nav-container .category-second-list .img-product-menu img {
    max-width: 180px;
  }
  .nav-container .category-second-list-ul {
    display: flex;
    flex-direction: column;
    min-width: 400px;
    padding: 0 15px;
  }
  .nav-container .category-second-item a {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    text-decoration: none;
    color: #555;
  }
  .nav-container .category-second-item:hover {
    background: #54b9c4;
    text-decoration: none;
  }
  .nav-container .category-second-item:hover a {
    color: #fff;
     text-decoration: none;
  }
  .fa-bars {
    font-size: 28px;
  }
  