.addProductPage{
    /* height: 50%; */
    width: 60%;
    align-items: center;
    margin:20%;
    padding: 5% 8%;
    background-color: rgba(227, 227, 227, 0.769);
}
    /* .savebtn{
        height: 10%;
        width: 40%;
    }
    .resetbtn{
        height: 10%;
        width: 40%;
    } */
/* .bton{
    height: 10%;
    width: 45%;
    margin:2% ;
    border: none;
} */
