.wrapperr{
  /* background-color: rgb(171, 161, 215); */
  /* margin-top: 20px;
  padding: 20px; */
  /* width: 1200px; */
  /* height: 100px; */
}
.cardy{
  background-color: white;
  /* background-color: rgb(240, 179, 179); */
  margin: 0px 20px;
  /* height: 500px; */
  /* height: 100%; */
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* padding: 10px; */
  /* border: 0.3px solid lightgray; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}
.cardy:hover{
  cursor: pointer;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}
.image-items{
  /* width: 100%; */
  /* margin-top: -13px; */
  height: 200px;
  width: 250px;
  padding: 0px 20px;
}
.all-main-content{
  margin-top: 20px;
  width: 100%;
  height: 230px;
  padding: 15px;
}
.all-main-content>p{
  overflow: hidden;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-line-clamp: 2; /* Number of lines to display */
-webkit-box-orient: vertical;
}
.all-main-content>h4{
  overflow: hidden;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-line-clamp: 1; /* Number of lines to display */
-webkit-box-orient: vertical;
}
.card-img-top{
  padding: 20px 30px;
}
/* .image-items>img{
  height: 200px;
  width: 150px;
} */
.heading-main, .price-main, .description-main{
  margin: 10px;
  
  /* background-color: yellow; */
}
.btn-Item{
  padding: 7px 30px;
  position: relative;
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
}
.description-main{
height: 50px;
}