.wrapper{
    /* background-color: pink; */
    margin-top: 15px;
    padding: 20px;
  }
  .cardy{
    /* background-color: aliceblue; */
    margin: 0px 20px;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 0.3px solid lightgray;
    border-radius: 5px;
  }
  .cardy:hover{
    cursor: pointer;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
  }
  .card-img-top{
    height: 50%;
  }