.universal-page{
    /* background-color: bisque; */
    /* padding: 10px 30px; */
    width: 100%;
    height: 100%;
    margin-top: 50px;
}
.card-one{
    /* width: 1250px;
    height: 200px; */
    width: 1200px;
    height: 200px;
    /* margin: 20px; */
    margin: auto;
    margin-bottom: 20px;
    padding-bottom: 10px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 5px 10px 20px lightgray;
    border-radius: 5px;
    
}
.img-section{
width: 300px;
height: 100%;
/* background-color: red; */
}
.content-section{
    width: 600px;
    height: 100%;
    /* background-color: rgb(0, 255, 51); */
    padding: 30px 10px;
}
.content-section>h4{
    overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Number of lines to display */
  -webkit-box-orient: vertical;
}
.content-section>p{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* Number of lines to display */
    -webkit-box-orient: vertical;
}
.price-section{
    width: 300px;
    height: 100%;
    /* background-color: rgb(23, 73, 173); */
    padding: 30px 20px;
    text-align: center;
}
.btn-price{
    border-radius: 50px;
    padding:8px 50px;
    margin-top: 20px;
}
.heading-allproducts{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
}
.sorting-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    background-color: #ffffff;
    color: #000000;
    padding: 0px 20px;
    width: 250px;
    border-radius: 3px;
    margin-right: 20px;
    position: relative;
}
.sorting-div p{
    margin-top: 10px;
}
.sorting-div i{
    font-size: 25px;
    margin-top: -9px;
}
.dropdown-sorting{
    /* position:fixed; */
    position: absolute;
    display: none;
    box-sizing: border-box;
    width: 250px;
    background-color: #48c1cf;
    color: white;
    padding: 6px;
    border-radius: 3px;
    text-align: left;
    padding: 10px 20px;
    left: 0px;
    top: 50px;
    z-index: 1;
}
.sorting:hover +.dropdown-sorting{
    cursor: pointer;
    display: block;
  transition: 2ms;
}
.dropdown-sorting:hover{
  display: block;
  transition: 2ms;
} 
