.logos{
    /* height: 50px; */
    /* height: 100px; */
    /* width: 100px; */
    display: flex;
    align-items: center;
    margin-left: 10px;
    /* background-color: yellow; */
  }
    .logo {
      /* width: 200px; */
      height: 45px;
    }
    /* .btn {
      border-radius: 40px;
    }
     */
    .navbars {
      padding-top: 5px;
      width: 100%;
      height: 70px;
      /* background-color:white; */
      background-color: #48c1cf;
      display: flex;
      /* position: absolute; */
      position: fixed;
      /* position: sticky; */
      z-index: 99;
      top: 0;
      margin-bottom: 10px;
      align-items: center;
      justify-content: space-between;
      box-shadow: -1px 15px 17px -8px rgba(0, 0, 0, 0.1);
  
    }
    
    .searchBars {
      position: relative;
      width: 50%;
      border-radius: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    a{
      padding: 20px;
    }
    
    .inputSearchs {
      padding: 0px 30px;
      height: 40px;
      width: 100%;
      border-right: none;
      border: 0.5px solid lightgray;
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
      border-radius: 60px;
      outline: none;
    }
    .searchIcons {
      position: absolute;
      right: 20px;
      top: 0px;
      font-size: 24px;
      color: rgb(149, 149, 149);
    }
    .icons {
      display: flex;
      justify-content: center;
      align-items: center;
      /* padding: 0px 15px; */
      /* padding:10px; */
      height: 100%;
      width: 20vw;
      /* background-color: rgb(56, 150, 232); */
    }
    .profileimg,.cartimg{
      height:30px;
      width: 30px;
      color: white;
      /* background-color: white; */
      padding-left: 0px;
    }
    #logins {
      text-decoration: none;
      padding: 0px;
      color: black;
      width: 70px;
      height: 50px;
      border-radius: 60px;
      /* background-color: rgba(211, 211, 211, 0.31); */
      display: flex;
      justify-content: center;
      align-items: center;
    }
    #carts {
      text-decoration: none;
      color: black;
      margin: 0px 50px;
      width: 70px;
      height: 50px;
      border-radius: 60px;
      /* background-color: rgba(211, 211, 211, 0.31); */
      display: flex;
      justify-content: center;
      align-items: center;
    }
  .profile{
    position:fixed;
    display: none;
    box-sizing: border-box;
    width: 100px;
    /* height: 70px; */
    background-color: white;
    padding: 6px;
    border-radius: 3px;
    top: 50px;
    z-index: 1;
  
  }
 
  .profileimg:hover + .profile{
    display: block;
    transition: 1ms;
  }
  .profile:hover{
    display: block;
    transition: 1ms;
  }
  
  h6
  {
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  p{
    margin-right: 20px;
  }
  
    @media screen and (max-width:1000px) {
      .inputSearchs {
        width: 100%;
        font-size: large;
      }
      .searchIcons {
        left: -15%;
      }
      .icons{
        padding: 5px;
      }
      a{
        padding: 5px;
      }
  
      
        
        
    }
    