.filesContainer{
    display: flex;
    /* background-color: rgb(33, 163, 122); */
    /* width: 100vw; */
    min-height: 200px;
    margin-top: 50px;
    margin-bottom: 50px;
    gap: 4px;
    justify-content: space-evenly;
    padding: 10px 10px;
    width: auto;
}

.filesContainer img{
    /* width: 600px; */
    width: auto;
    height: 210px;
    border-radius: 2px;
}
