.filesContainer{
    display: flex;
    min-height: 200px;
    margin-top: 50px;
    margin-bottom: 50px;
    gap: 4px;
    justify-content: space-evenly;
    padding: 10px 10px;
    width: auto;
}

.filesContainer img{
    width: 334px;
    height: 240px;
    border-radius: 2px;
}
